# Slack app token for socket-mode event handling
# (if not specified in RHCOSBOT_SLACK_APP_TOKEN env var)
slack-app-token: xapp-1-xxx
# Slack workspace token
# (if not specified in RHCOSBOT_SLACK_TOKEN env var)
slack-token: xoxb-xxx
# Channel to monitor for messages
channel: Cxxx
# User ID that will receive error tracebacks via DM
error-notification: Uxxx

# URL of the Jira server
jira: https://issues.redhat.com/
# Prefix of user-friendly issue URL
jira-issue-url: https://issues.redhat.com/browse/
# Jira personal access token
# (if not specified in RHCOSBOT_JIRA_TOKEN env var)
jira-token: xxx
# Project key containing the jira-component
jira-project-key: OCPBUGS
# Component to file bootimage bump trackers against
jira-component: RHCOS
# Default assignee for bootimage trackers
jira-assignee: bovik@example.com
# Default severity for bootimage trackers
jira-severity: Moderate
# Watchers for bootimage trackers
jira-watchers:
  - mozilla@example.com
  - fedora@example.com
# Jira polling interval in seconds
jira-poll-interval: 300
# Maintenance task interval in seconds
jira-maintenance-interval: 86400
# Log search queries to stdout
jira-log-searches: false

# Refuse to add issues with these labels to a bootimage bump
bootimage-deny-labels:
  - SecurityTracking

# Possible RHCOS target releases, newest first
releases:
  # Friendly name for the release
  - label: "4.3"
    jira-affects-version: "4.3"
    # The preferred target version
    jira-target-version: 4.3.0
  - label: "4.2"
    jira-affects-version: "4.2"
    jira-target-version: 4.2.z
    # Other recognized target versions
    jira-target-version-aliases: [4.2.0]
